-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: siex2
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alumno_carrera`
--

DROP TABLE IF EXISTS `alumno_carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alumno_carrera` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `carrera_id` int(11) NOT NULL,
  `fecha_asignacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `activo` bit(1) DEFAULT b'1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_alumno_carrera` (`alumno_id`,`carrera_id`),
  KEY `carrera_id` (`carrera_id`),
  CONSTRAINT `alumno_carrera_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `alumno_carrera_ibfk_2` FOREIGN KEY (`carrera_id`) REFERENCES `carreras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumno_carrera`
--

LOCK TABLES `alumno_carrera` WRITE;
/*!40000 ALTER TABLE `alumno_carrera` DISABLE KEYS */;
INSERT INTO `alumno_carrera` VALUES (3,9,1,'2026-03-12 05:12:01',''),(4,10,1,'2026-03-12 05:14:45',''),(5,11,1,'2026-03-12 05:16:12',''),(6,12,1,'2026-03-12 05:19:49',''),(7,13,1,'2026-03-12 05:48:07',''),(8,14,1,'2026-03-12 18:32:33',''),(11,18,1,'2026-03-24 10:02:49',''),(12,19,3,'2026-03-24 18:22:56',''),(13,21,1,'2026-03-24 18:46:42',''),(14,22,1,'2026-03-24 21:23:42',''),(16,27,3,'2026-04-16 22:33:41',''),(17,28,3,'2026-04-28 07:31:47','');
/*!40000 ALTER TABLE `alumno_carrera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alumnos`
--

DROP TABLE IF EXISTS `alumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alumnos` (
  `id_alumno` int(11) NOT NULL,
  `matricula` varchar(20) NOT NULL,
  `plan_id` int(11) NOT NULL,
  `estatus_academico` enum('inscrito','baja','egresado') DEFAULT 'inscrito',
  `generacion` varchar(10) DEFAULT NULL,
  `escuela_procedencia` varchar(100) DEFAULT NULL,
  `numero_telefono` varchar(20) DEFAULT NULL,
  `numero_identificacion` varchar(30) DEFAULT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  PRIMARY KEY (`id_alumno`),
  UNIQUE KEY `matricula` (`matricula`),
  KEY `plan_id` (`plan_id`),
  CONSTRAINT `alumnos_ibfk_1` FOREIGN KEY (`id_alumno`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `alumnos_ibfk_2` FOREIGN KEY (`plan_id`) REFERENCES `planes_estudio` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumnos`
--

LOCK TABLES `alumnos` WRITE;
/*!40000 ALTER TABLE `alumnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `anuncios`
--

DROP TABLE IF EXISTS `anuncios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `anuncios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coordinador_id` int(11) NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `contenido` text NOT NULL,
  `carrera_id` int(11) DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `coordinador_id` (`coordinador_id`),
  KEY `carrera_id` (`carrera_id`),
  CONSTRAINT `anuncios_ibfk_1` FOREIGN KEY (`coordinador_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `anuncios_ibfk_2` FOREIGN KEY (`carrera_id`) REFERENCES `carreras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anuncios`
--

LOCK TABLES `anuncios` WRITE;
/*!40000 ALTER TABLE `anuncios` DISABLE KEYS */;
INSERT INTO `anuncios` VALUES (5,29,'S','DdDD',NULL,'2026-04-28 09:18:33'),(6,5,'HOLA','EL',NULL,'2026-04-28 09:21:27'),(9,2,'anuncip','anuncio',NULL,'2026-04-28 22:28:22'),(10,2,'H','J',1,'2026-04-29 00:05:03'),(11,2,'a','a',NULL,'2026-04-30 07:34:46'),(12,2,'a','a',NULL,'2026-04-30 07:34:52');
/*!40000 ALTER TABLE `anuncios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bajas`
--

DROP TABLE IF EXISTS `bajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bajas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `fecha_baja` timestamp NOT NULL DEFAULT current_timestamp(),
  `motivo` varchar(255) DEFAULT NULL,
  `registrado_por` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alumno_id` (`alumno_id`),
  KEY `registrado_por` (`registrado_por`),
  CONSTRAINT `bajas_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `bajas_ibfk_2` FOREIGN KEY (`registrado_por`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bajas`
--

LOCK TABLES `bajas` WRITE;
/*!40000 ALTER TABLE `bajas` DISABLE KEYS */;
/*!40000 ALTER TABLE `bajas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrera_materias`
--

DROP TABLE IF EXISTS `carrera_materias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carrera_materias` (
  `carrera_id` int(11) NOT NULL,
  `materia_id` int(11) NOT NULL,
  `semestre_sugerido` int(11) DEFAULT NULL,
  `obligatoria_en_plan` tinyint(1) NOT NULL DEFAULT 0,
  `disponible` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`carrera_id`,`materia_id`),
  KEY `idx_carrera_materias_semestre` (`carrera_id`,`semestre_sugerido`),
  KEY `materia_id` (`materia_id`),
  CONSTRAINT `carrera_materias_ibfk_1` FOREIGN KEY (`carrera_id`) REFERENCES `carreras` (`id`),
  CONSTRAINT `carrera_materias_ibfk_2` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrera_materias`
--

LOCK TABLES `carrera_materias` WRITE;
/*!40000 ALTER TABLE `carrera_materias` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrera_materias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrera_minors`
--

DROP TABLE IF EXISTS `carrera_minors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carrera_minors` (
  `carrera_id` int(11) NOT NULL,
  `minor_id` int(11) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`carrera_id`,`minor_id`),
  KEY `minor_id` (`minor_id`),
  CONSTRAINT `carrera_minors_ibfk_1` FOREIGN KEY (`carrera_id`) REFERENCES `carreras` (`id`),
  CONSTRAINT `carrera_minors_ibfk_2` FOREIGN KEY (`minor_id`) REFERENCES `minors` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrera_minors`
--

LOCK TABLES `carrera_minors` WRITE;
/*!40000 ALTER TABLE `carrera_minors` DISABLE KEYS */;
INSERT INTO `carrera_minors` VALUES (1,1,1),(1,2,1);
/*!40000 ALTER TABLE `carrera_minors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carreras`
--

DROP TABLE IF EXISTS `carreras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carreras` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `abreviatura` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `abreviatura` (`abreviatura`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carreras`
--

LOCK TABLES `carreras` WRITE;
/*!40000 ALTER TABLE `carreras` DISABLE KEYS */;
INSERT INTO `carreras` VALUES (1,'Ingenier├¡a en Sistemas y Negocios Digitales','ISND'),(2,'Ingenieria Industrial','II'),(3,'Ingenieria Mecatronica','IM'),(4,'Licenciatura en Idiomas','LI'),(5,'Gastronomia','GASTRO'),(6,'Licenciatura en Negocios Internacionales','LNI');
/*!40000 ALTER TABLE `carreras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversaciones`
--

DROP TABLE IF EXISTS `conversaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conversaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `coordinador_id` int(11) NOT NULL,
  `asunto` varchar(255) NOT NULL DEFAULT 'Consulta general',
  `estado` enum('abierta','cerrada') DEFAULT 'abierta',
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  `actualizado_en` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `alumno_id` (`alumno_id`),
  KEY `fk_conversaciones_coordinador` (`coordinador_id`),
  CONSTRAINT `conversaciones_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `fk_conversaciones_coordinador` FOREIGN KEY (`coordinador_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversaciones`
--

LOCK TABLES `conversaciones` WRITE;
/*!40000 ALTER TABLE `conversaciones` DISABLE KEYS */;
INSERT INTO `conversaciones` VALUES (5,21,2,'Hola','abierta','2026-04-28 05:58:17','2026-04-28 07:44:12'),(6,21,2,'S','abierta','2026-04-28 06:10:16','2026-04-29 19:34:32'),(7,28,20,'Hola','abierta','2026-04-28 07:32:06','2026-04-28 07:32:12'),(9,21,2,'Duda sobre inscripcion','abierta','2026-04-28 22:10:07','2026-04-29 00:02:05'),(11,14,2,'l','abierta','2026-04-29 08:05:38','2026-04-29 08:05:53');
/*!40000 ALTER TABLE `conversaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coordinador_carrera`
--

DROP TABLE IF EXISTS `coordinador_carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coordinador_carrera` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coordinador_id` int(11) NOT NULL,
  `carrera_id` int(11) NOT NULL,
  `rol_cargo` enum('coordinador','vice_coordinador','asistente') DEFAULT 'coordinador',
  `fecha_asignacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `activo` bit(1) DEFAULT b'1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_coordinador_carrera` (`coordinador_id`,`carrera_id`),
  KEY `carrera_id` (`carrera_id`),
  CONSTRAINT `coordinador_carrera_ibfk_1` FOREIGN KEY (`coordinador_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `coordinador_carrera_ibfk_2` FOREIGN KEY (`carrera_id`) REFERENCES `carreras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coordinador_carrera`
--

LOCK TABLES `coordinador_carrera` WRITE;
/*!40000 ALTER TABLE `coordinador_carrera` DISABLE KEYS */;
INSERT INTO `coordinador_carrera` VALUES (1,2,1,'coordinador','2026-03-11 23:57:50',''),(2,20,3,'coordinador','2026-03-24 18:25:01',''),(3,29,2,'coordinador','2026-04-28 09:17:58','');
/*!40000 ALTER TABLE `coordinador_carrera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coordinadores`
--

DROP TABLE IF EXISTS `coordinadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coordinadores` (
  `id_coordinador` int(11) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `oficina` varchar(100) DEFAULT NULL,
  `horario_atencion` varchar(200) DEFAULT NULL,
  `numero_identificacion` varchar(30) DEFAULT NULL,
  `especialidad` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_coordinador`),
  CONSTRAINT `coordinadores_ibfk_1` FOREIGN KEY (`id_coordinador`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coordinadores`
--

LOCK TABLES `coordinadores` WRITE;
/*!40000 ALTER TABLE `coordinadores` DISABLE KEYS */;
INSERT INTO `coordinadores` VALUES (20,NULL,NULL,NULL,NULL,NULL),(29,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `coordinadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrolamiento`
--

DROP TABLE IF EXISTS `enrolamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrolamiento` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `seccion_id` int(11) NOT NULL,
  `fecha_enrolamiento` timestamp NOT NULL DEFAULT current_timestamp(),
  `estatus` enum('activo','retirado') DEFAULT 'activo',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_enrolamiento` (`alumno_id`,`seccion_id`),
  KEY `seccion_id` (`seccion_id`),
  CONSTRAINT `enrolamiento_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `enrolamiento_ibfk_2` FOREIGN KEY (`seccion_id`) REFERENCES `secciones` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrolamiento`
--

LOCK TABLES `enrolamiento` WRITE;
/*!40000 ALTER TABLE `enrolamiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrolamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_academico`
--

DROP TABLE IF EXISTS `historial_academico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historial_academico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `materia_id` int(11) NOT NULL,
  `calificacion` decimal(4,2) DEFAULT NULL,
  `estatus` enum('aprobada','no_aprobada','no_cursada','revalidar','cursando') DEFAULT 'no_cursada',
  `acta` varchar(50) DEFAULT NULL,
  `fecha_examen` date DEFAULT NULL,
  `tipo_examen` varchar(50) DEFAULT NULL,
  `tipo_curso` varchar(50) DEFAULT NULL,
  `periodo` varchar(50) DEFAULT NULL,
  `oportunidad` tinyint(3) unsigned NOT NULL DEFAULT 1,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_historial_alumno_materia_periodo_oportunidad` (`alumno_id`,`materia_id`,`periodo`,`oportunidad`),
  KEY `idx_historial_alumno` (`alumno_id`),
  KEY `idx_historial_materia` (`materia_id`),
  CONSTRAINT `historial_academico_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `historial_academico_ibfk_2` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`),
  CONSTRAINT `chk_calificacion_rango` CHECK (`calificacion` is null or `calificacion` >= 0 and `calificacion` <= 100)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_academico`
--

LOCK TABLES `historial_academico` WRITE;
/*!40000 ALTER TABLE `historial_academico` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_academico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripciones`
--

DROP TABLE IF EXISTS `inscripciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscripciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `fecha_inscripcion` timestamp NOT NULL DEFAULT current_timestamp(),
  `periodo` varchar(20) DEFAULT NULL,
  `carrera_id` int(11) NOT NULL,
  `registrado_por` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alumno_id` (`alumno_id`),
  KEY `carrera_id` (`carrera_id`),
  KEY `registrado_por` (`registrado_por`),
  CONSTRAINT `inscripciones_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `inscripciones_ibfk_2` FOREIGN KEY (`carrera_id`) REFERENCES `carreras` (`id`),
  CONSTRAINT `inscripciones_ibfk_3` FOREIGN KEY (`registrado_por`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripciones`
--

LOCK TABLES `inscripciones` WRITE;
/*!40000 ALTER TABLE `inscripciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscripciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materias`
--

DROP TABLE IF EXISTS `materias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `creditos` int(11) NOT NULL,
  `tipo_bloque` enum('anahuac','anahuac_electivo','profesional','profesional_electivo','interdisciplinario','interdisciplinario_electivo') NOT NULL,
  `modalidad` enum('presencial','en_linea','semipresencial','ingles') DEFAULT 'presencial',
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materias`
--

LOCK TABLES `materias` WRITE;
/*!40000 ALTER TABLE `materias` DISABLE KEYS */;
/*!40000 ALTER TABLE `materias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensajes`
--

DROP TABLE IF EXISTS `mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mensajes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `conversacion_id` int(11) NOT NULL,
  `remitente_id` int(11) NOT NULL,
  `contenido` text NOT NULL,
  `leido` tinyint(1) DEFAULT 0,
  `enviado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `conversacion_id` (`conversacion_id`),
  KEY `remitente_id` (`remitente_id`),
  CONSTRAINT `mensajes_ibfk_1` FOREIGN KEY (`conversacion_id`) REFERENCES `conversaciones` (`id`),
  CONSTRAINT `mensajes_ibfk_2` FOREIGN KEY (`remitente_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensajes`
--

LOCK TABLES `mensajes` WRITE;
/*!40000 ALTER TABLE `mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `minor_materias`
--

DROP TABLE IF EXISTS `minor_materias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `minor_materias` (
  `minor_id` int(11) NOT NULL,
  `materia_id` int(11) NOT NULL,
  `semestre_sugerido` int(11) DEFAULT NULL,
  PRIMARY KEY (`minor_id`,`materia_id`),
  KEY `idx_minor_materias_semestre` (`minor_id`,`semestre_sugerido`),
  KEY `materia_id` (`materia_id`),
  CONSTRAINT `minor_materias_ibfk_1` FOREIGN KEY (`minor_id`) REFERENCES `minors` (`id`),
  CONSTRAINT `minor_materias_ibfk_2` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `minor_materias`
--

LOCK TABLES `minor_materias` WRITE;
/*!40000 ALTER TABLE `minor_materias` DISABLE KEYS */;
INSERT INTO `minor_materias` VALUES (1,51,9),(1,53,9),(1,54,9),(1,55,9),(1,56,9),(1,57,9),(1,58,9),(1,59,9),(1,63,9),(1,72,9),(1,73,9),(1,74,9),(1,75,9),(1,76,9),(1,77,9),(1,78,9),(1,79,9),(2,52,9),(2,60,9),(2,61,9),(2,64,9),(2,65,9),(2,66,9),(2,67,9),(2,68,9),(2,69,9),(2,70,9),(2,71,9);
/*!40000 ALTER TABLE `minor_materias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `minors`
--

DROP TABLE IF EXISTS `minors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `minors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `clave` varchar(30) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_minors_clave` (`clave`),
  UNIQUE KEY `uk_minors_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `minors`
--

LOCK TABLES `minors` WRITE;
/*!40000 ALTER TABLE `minors` DISABLE KEYS */;
INSERT INTO `minors` VALUES (1,'MINOR_NEGOCIOS','Minor de Negocios','Oferta profesional electiva enfocada en gestion, mercadotecnia y finanzas.'),(2,'MINOR_IDIOMAS','Minor de Idiomas','Oferta profesional electiva enfocada en lenguas y contexto internacional.');
/*!40000 ALTER TABLE `minors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan_materias`
--

DROP TABLE IF EXISTS `plan_materias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plan_materias` (
  `plan_id` int(11) NOT NULL,
  `materia_id` int(11) NOT NULL,
  `semestre` int(11) NOT NULL,
  PRIMARY KEY (`plan_id`,`materia_id`),
  KEY `idx_plan_materias_plan_semestre` (`plan_id`,`semestre`),
  KEY `materia_id` (`materia_id`),
  CONSTRAINT `plan_materias_ibfk_1` FOREIGN KEY (`plan_id`) REFERENCES `planes_estudio` (`id`),
  CONSTRAINT `plan_materias_ibfk_2` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan_materias`
--

LOCK TABLES `plan_materias` WRITE;
/*!40000 ALTER TABLE `plan_materias` DISABLE KEYS */;
/*!40000 ALTER TABLE `plan_materias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planes_estudio`
--

DROP TABLE IF EXISTS `planes_estudio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `planes_estudio` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `carrera_id` int(11) NOT NULL,
  `estatus` bit(1) DEFAULT b'1',
  PRIMARY KEY (`id`),
  KEY `carrera_id` (`carrera_id`),
  CONSTRAINT `planes_estudio_ibfk_1` FOREIGN KEY (`carrera_id`) REFERENCES `carreras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planes_estudio`
--

LOCK TABLES `planes_estudio` WRITE;
/*!40000 ALTER TABLE `planes_estudio` DISABLE KEYS */;
INSERT INTO `planes_estudio` VALUES (1,'Plan 2020',1,''),(2,'PlanPrueba (2026)',1,''),(3,'PLANIZTEL (2012)',3,''),(4,'Plan (2026)',1,''),(5,'Plan hola (2028)',5,''),(6,'planananana (2026)',6,''),(7,'Plan (2026)',3,'');
/*!40000 ALTER TABLE `planes_estudio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prerrequisitos`
--

DROP TABLE IF EXISTS `prerrequisitos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prerrequisitos` (
  `materia_id` int(11) NOT NULL,
  `materia_requisito_id` int(11) NOT NULL,
  PRIMARY KEY (`materia_id`,`materia_requisito_id`),
  KEY `idx_prerrequisitos_requisito` (`materia_requisito_id`),
  CONSTRAINT `prerrequisitos_ibfk_1` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`),
  CONSTRAINT `prerrequisitos_ibfk_2` FOREIGN KEY (`materia_requisito_id`) REFERENCES `materias` (`id`),
  CONSTRAINT `chk_prerrequisito_distinto` CHECK (`materia_id` <> `materia_requisito_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prerrequisitos`
--

LOCK TABLES `prerrequisitos` WRITE;
/*!40000 ALTER TABLE `prerrequisitos` DISABLE KEYS */;
INSERT INTO `prerrequisitos` VALUES (36,34),(43,41),(47,45);
/*!40000 ALTER TABLE `prerrequisitos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sanciones`
--

DROP TABLE IF EXISTS `sanciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sanciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `descripcion` text NOT NULL,
  `fecha_registro` date DEFAULT curdate(),
  `activa` bit(1) DEFAULT b'1',
  PRIMARY KEY (`id`),
  KEY `alumno_id` (`alumno_id`),
  CONSTRAINT `sanciones_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id_alumno`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sanciones`
--

LOCK TABLES `sanciones` WRITE;
/*!40000 ALTER TABLE `sanciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `sanciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `secciones`
--

DROP TABLE IF EXISTS `secciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `secciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `materia_id` int(11) NOT NULL,
  `profesor_id` int(11) NOT NULL,
  `seccion` varchar(10) NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `aula` varchar(50) DEFAULT NULL,
  `dias_clase` varchar(20) DEFAULT NULL,
  `capacidad` int(11) DEFAULT 30,
  `periodo` varchar(50) DEFAULT 'AGO-DIC 2024',
  PRIMARY KEY (`id`),
  KEY `materia_id` (`materia_id`),
  KEY `profesor_id` (`profesor_id`),
  CONSTRAINT `secciones_ibfk_1` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`),
  CONSTRAINT `secciones_ibfk_2` FOREIGN KEY (`profesor_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `secciones`
--

LOCK TABLES `secciones` WRITE;
/*!40000 ALTER TABLE `secciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `secciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_usuario` varchar(50) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `contrasena` varchar(255) NOT NULL,
  `rol` enum('admin','coordinador','alumno') NOT NULL,
  `fecha_creacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `nombre` varchar(100) DEFAULT NULL,
  `apellido` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre_usuario` (`nombre_usuario`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vista_coordinadores`
--

DROP TABLE IF EXISTS `vista_coordinadores`;
/*!50001 DROP VIEW IF EXISTS `vista_coordinadores`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vista_coordinadores` AS SELECT
 1 AS `id`,
  1 AS `nombre_usuario`,
  1 AS `correo`,
  1 AS `rol`,
  1 AS `coordinador_carrera_id`,
  1 AS `carrera_id`,
  1 AS `carrera_nombre`,
  1 AS `carrera_abreviatura`,
  1 AS `rol_cargo`,
  1 AS `activo`,
  1 AS `fecha_asignacion`,
  1 AS `telefono`,
  1 AS `oficina`,
  1 AS `horario_atencion` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vista_resumen_academico`
--

DROP TABLE IF EXISTS `vista_resumen_academico`;
/*!50001 DROP VIEW IF EXISTS `vista_resumen_academico`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vista_resumen_academico` AS SELECT
 1 AS `alumno_id`,
  1 AS `total_materias`,
  1 AS `materias_aprobadas`,
  1 AS `promedio_general`,
  1 AS `creditos_acumulados` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vista_coordinadores`
--

/*!50001 DROP VIEW IF EXISTS `vista_coordinadores`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_coordinadores` AS select `u`.`id` AS `id`,`u`.`nombre_usuario` AS `nombre_usuario`,`u`.`correo` AS `correo`,`u`.`rol` AS `rol`,`c`.`id` AS `coordinador_carrera_id`,`c`.`carrera_id` AS `carrera_id`,`ca`.`nombre` AS `carrera_nombre`,`ca`.`abreviatura` AS `carrera_abreviatura`,`c`.`rol_cargo` AS `rol_cargo`,`c`.`activo` AS `activo`,`c`.`fecha_asignacion` AS `fecha_asignacion`,`co`.`telefono` AS `telefono`,`co`.`oficina` AS `oficina`,`co`.`horario_atencion` AS `horario_atencion` from (((`usuarios` `u` left join `coordinadores` `co` on(`u`.`id` = `co`.`id_coordinador`)) left join `coordinador_carrera` `c` on(`u`.`id` = `c`.`coordinador_id`)) left join `carreras` `ca` on(`c`.`carrera_id` = `ca`.`id`)) where `u`.`rol` = 'coordinador' */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_resumen_academico`
--

/*!50001 DROP VIEW IF EXISTS `vista_resumen_academico`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_resumen_academico` AS select `h`.`alumno_id` AS `alumno_id`,count(`h`.`materia_id`) AS `total_materias`,sum(case when `h`.`estatus` = 'aprobada' then 1 else 0 end) AS `materias_aprobadas`,avg(case when `h`.`estatus` = 'aprobada' then `h`.`calificacion` end) AS `promedio_general`,sum(case when `h`.`estatus` = 'aprobada' then `m`.`creditos` else 0 end) AS `creditos_acumulados` from (`historial_academico` `h` join `materias` `m` on(`h`.`materia_id` = `m`.`id`)) group by `h`.`alumno_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-30 15:38:27
